<launch>

  <include file="$(find p3dx_description)/launch/description.launch"/>

  <param name="pioneer2_description" command="$(find xacro)/xacro '$(find p3dx_description)/urdf/p3dx/pioneer3dx.xacro'
    --inorder
    robot_namespace:=pioneer2
    " />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher1">
      <param name="publish_frequency" type="double" value="30.0"/>
      <param name="tf_prefix" type="string" value="pioneer1"/>
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher2">
      <param name="publish_frequency" type="double" value="30.0"/>
      <param name="tf_prefix" type="string" value="pioneer2"/>
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

</launch>

